# Now You Code In Class: Tricks of The Pandas Masters

For this Now You Code, you will need the Zomato api https://developers.zomato.com/api which provides API access to local area restaurants information.

In [1]:
import pandas as pd
import requests

zomato_key = 'putYourKeyHere'
cuse_id = 988   #city_id of Syracuse, New York'  

zomato_key = '8a0d66c268b134b0ee4f99a66ec7af99'
cuse_id = 988   #city_id of Syracuse, New York'

## Challenge 1

1. figure out how to call the zomato api by getting a list of categories. store the output in the variable `data`

https://developers.zomato.com/documentation#!/common/categories

HINT: The `user-key` must be passed in the header.

In [5]:
headers = { 'user-key' : zomato_key } 
response = requests.get("https://developers.zomato.com/api/v2.1/categories", headers=headers)
data = response.json()
cat_list = data['categories']
cat_list

[{'categories': {'id': 1, 'name': 'Delivery'}},
 {'categories': {'id': 2, 'name': 'Dine-out'}},
 {'categories': {'id': 3, 'name': 'Nightlife'}},
 {'categories': {'id': 4, 'name': 'Catching-up'}},
 {'categories': {'id': 5, 'name': 'Takeaway'}},
 {'categories': {'id': 6, 'name': 'Cafes'}},
 {'categories': {'id': 7, 'name': 'Daily Menus'}},
 {'categories': {'id': 8, 'name': 'Breakfast'}},
 {'categories': {'id': 9, 'name': 'Lunch'}},
 {'categories': {'id': 10, 'name': 'Dinner'}},
 {'categories': {'id': 11, 'name': 'Pubs & Bars'}},
 {'categories': {'id': 13, 'name': 'Pocket Friendly Delivery'}},
 {'categories': {'id': 14, 'name': 'Clubs & Lounges'}}]

## Challenge 2

1. Load the categories into a dataframe. using the `pd.DataFrame()` method. Start with the list at `data['categories']`. If it works you will have a single column called `categories`, which will contain nested json.

NOTE: it will load into a dataframe but there will be nested json. We will fix this in the next step

In [6]:
cat_df = pd.DataFrame( cat_list )
cat_df

                                        categories
0                    {'id': 1, 'name': 'Delivery'}
1                    {'id': 2, 'name': 'Dine-out'}
2                   {'id': 3, 'name': 'Nightlife'}
3                 {'id': 4, 'name': 'Catching-up'}
4                    {'id': 5, 'name': 'Takeaway'}
5                       {'id': 6, 'name': 'Cafes'}
6                 {'id': 7, 'name': 'Daily Menus'}
7                   {'id': 8, 'name': 'Breakfast'}
8                       {'id': 9, 'name': 'Lunch'}
9                     {'id': 10, 'name': 'Dinner'}
10               {'id': 11, 'name': 'Pubs & Bars'}
11  {'id': 13, 'name': 'Pocket Friendly Delivery'}
12           {'id': 14, 'name': 'Clubs & Lounges'}

## Challenge 3

1. Let's re-write this code so that we first flatten the json data into a simple structure before loading it into the data frame. Your dataframe should have `categories.id` and `cateogries.name` columns if you completed this correctly.

NOTE: read this: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.json.json_normalize.html

In [2]:
from pandas.io.json import json_normalize
cat_df = json_normalize( cat_list )
cat_df

NameError: name 'cat_list' is not defined

In [11]:
cat_df[ cat_df['categories.id']> 10 ]

    categories.id           categories.name
10             11               Pubs & Bars
11             13  Pocket Friendly Delivery
12             14           Clubs & Lounges

In [12]:
from pandas.io.json import json_normalize
data = [{'id': 1, 'name': {'first': 'Coleen', 'last': 'Volk'}, 'age' : 45, "classes" : ['IST256', 'IST344']},
        {'id': 3, 'name': {'first': 'Mose', 'last': 'Regner'}, 'age' : { 'year' : 50 }},
        {'id': 2, 'name': 'Faye Raker'}]
my_df= json_normalize(data)
my_df

   id   age           classes name.first name.last  age.year        name
0   1  45.0  [IST256, IST344]     Coleen      Volk       NaN         NaN
1   3   NaN               NaN       Mose    Regner      50.0         NaN
2   2   NaN               NaN        NaN       NaN       NaN  Faye Raker

## Challenge 4

Put it all together

1. Call the restaurant search API https://developers.zomato.com/documentation#!/restaurant/search to get the details for `sushi` restaurants in the Syracuse area (use the `city_id` provided).
2. Flatten the data into a data frame

NOTE: read the reviews are not flattened because they are not included in the free version of the api.

In [23]:
headers = { 'user-key' : zomato_key } 
query_string = { 'q' : 'sushi', 'entity_id' : 988, 'entity_type' : 'city'}
response = requests.get("https://developers.zomato.com/api/v2.1/search", params=query_string, headers=headers)
data = response.json()
rests = data['restaurants']
rests_df = json_normalize(rests)
rests_df

,restaurant.R.has_menu_status.delivery,restaurant.R.has_menu_status.takeaway,restaurant.R.res_id,restaurant.apikey,restaurant.id,restaurant.name,restaurant.url,restaurant.location.address,restaurant.location.locality,restaurant.location.city,...,restaurant.store_type,restaurant.include_bogo_offers,restaurant.deeplink,restaurant.is_table_reservation_supported,restaurant.has_table_booking,restaurant.events_url,restaurant.phone_numbers,restaurant.all_reviews.reviews,restaurant.establishment,restaurant.establishment_types
0,-1,-1,17643440,8a0d66c268b134b0ee4f99a66ec7af99,17643440,Sakanaya,https://www.zomato.com/syracuse-ny/sakanaya-sy...,"215 Walton St Ste 100, Syracuse 13202",Syracuse,Syracuse,...,,True,zomato://restaurant/17643440,0,0,https://www.zomato.com/syracuse-ny/sakanaya-sy...,(315) 475-0117,[],[],[]
1,-1,-1,17642576,8a0d66c268b134b0ee4f99a66ec7af99,17642576,Ichiban Japanese Steak House,https://www.zomato.com/syracuse-ny/ichiban-jap...,"302 Old Liverpool Rd, Liverpool 13088",Liverpool,Syracuse,...,,True,zomato://restaurant/17642576,0,0,https://www.zomato.com/syracuse-ny/ichiban-jap...,(315) 457-0000,[],[],[]
2,-1,-1,17643769,8a0d66c268b134b0ee4f99a66ec7af99,17643769,Koto Japanese Steakhouse,https://www.zomato.com/syracuse-ny/koto-japane...,"2841 Erie Blvd. East, Syracuse 13224",Syracuse,Syracuse,...,,True,zomato://restaurant/17643769,0,0,https://www.zomato.com/syracuse-ny/koto-japane...,(315) 445-5686,[],[],[]
3,-1,-1,17643634,8a0d66c268b134b0ee4f99a66ec7af99,17643634,Oishi Sushi,https://www.zomato.com/syracuse-ny/oishi-sushi...,"713 South Crouse Avenue, Syracuse 13210",Syracuse,Syracuse,...,,True,zomato://restaurant/17643634,0,0,https://www.zomato.com/syracuse-ny/oishi-sushi...,(315) 849-1305,[],[],[]
4,-1,-1,17642883,8a0d66c268b134b0ee4f99a66ec7af99,17642883,Bleu Monkey Cafe,https://www.zomato.com/syracuse-ny/bleu-monkey...,"163 Marshall St, Syracuse 13210",Syracuse,Syracuse,...,,True,zomato://restaurant/17642883,0,0,https://www.zomato.com/syracuse-ny/bleu-monkey...,(315) 474-0099,[],[],[]
5,-1,-1,17643330,8a0d66c268b134b0ee4f99a66ec7af99,17643330,New Ling Ling Chinese Buffet,https://www.zomato.com/syracuse-ny/new-ling-li...,"604 S Main St, Syracuse 13212",Syracuse,Syracuse,...,,True,zomato://restaurant/17643330,0,0,https://www.zomato.com/syracuse-ny/new-ling-li...,(315) 458-9800,[],[],[]
6,-1,-1,17643848,8a0d66c268b134b0ee4f99a66ec7af99,17643848,Namu Restaurant & Bar,https://www.zomato.com/syracuse-ny/namu-restau...,"215 Walton St., Syracuse 13202",Syracuse,Syracuse,...,,True,zomato://restaurant/17643848,0,0,https://www.zomato.com/syracuse-ny/namu-restau...,(315) 475-0220,[],[],[]
7,-1,-1,17643728,8a0d66c268b134b0ee4f99a66ec7af99,17643728,Ocean Sushi,https://www.zomato.com/syracuse-ny/ocean-sushi...,"7567 oswego rd, Liverpool 13090",Liverpool,Syracuse,...,,True,zomato://restaurant/17643728,0,0,https://www.zomato.com/syracuse-ny/ocean-sushi...,(315) 622-6050,[],[],[]
8,-1,-1,17643984,8a0d66c268b134b0ee4f99a66ec7af99,17643984,Nikkou Japan,https://www.zomato.com/syracuse-ny/nikkou-japa...,"3800 West Genesee, Syracuse 13219",Syracuse,Syracuse,...,,True,zomato://restaurant/17643984,0,0,https://www.zomato.com/syracuse-ny/nikkou-japa...,(315) 488-6888,[],[],[]
9,-1,-1,17643671,8a0d66c268b134b0ee4f99a66ec7af99,17643671,Komachi,https://www.zomato.com/syracuse-ny/komachi-1-s...,"727 S Crouse Ave, Syracuse 13210",Syracuse,Syracuse,...,,True,zomato://restaurant/17643671,0,0,https://www.zomato.com/syracuse-ny/komachi-1-s...,(315) 476-2400,[],[],[]
10,-1,-1,17643993,8a0d66c268b134b0ee4f99a66ec7af99,17643993,Sake Bomb,https://www.zomato.com/syracuse-ny/sake-bomb-c...,"8081 Brewerton Road, Cicero 13039",Cicero,Syracuse,...,,True,zomato://restaurant/17643993,0,0,https://www.zomato.com/syracuse-ny/sake-bomb-c...,(315) 698-7888,[],[],[]
11,-1,-1,17642410,8a0d66c268b134b0ee4f99a66ec7af99,17642410,Oriental Star LLC,https://www.zomato.com/syracuse-ny/oriental-st...,"210 W Genesee St, Fayetteville 13066",Fayetteville,Syracuse,...,,True,zomato://restaurant/17642410,0,0,https://www.zomato.com/syracuse-ny/oriental-st...,(315) 637-0505,[],[],[]
12,-1,-1,17643691,8a0d66c268b134b0ee4f99a66ec7af99,17643691,Club Sushi and Steaks at Mohegan Manor,https://www.zomato.com/syracuse-ny/club-sushi-...,"58 Oswego St, Baldwinsville 13027",Baldwinsville,Syracuse,...,,True,zomato://restaurant/17643691,0,0,https://www.zomato.com/syracuse-ny/club-sushi-...,(315) 857-0080,[],[],[]
13,-1,-1,17643857,8a0d66c268b134b0ee4f99a66ec7af99,17643857,Asian Garden,https://www.zomato.com/syracuse-ny/asian-garde...,"7873 Oswego Road, Liverpool 13090",Liverpool,Syracuse,...,,True,zomato://restaurant/17643857,0,0,https://www.zomato.com/syracuse-ny/asian-garde...,(315) 652-8899,[],[],[]
14,-1,-1,17643942,8a0d66c268b134b0ee4f99a66ec7af99,17643942,Asahi Japanese Restaurant,https://www.zomato.com/syracuse-ny/asahi-japan...,"508 Westcott St, Syracuse 13210",Syracuse,Syracuse,...,,True,zomato://restaurant/17643942,0,0,https://www.zomato.com/syracuse-ny/asahi-japan...,(315) 424-8818,[],[Casual Dining],[]
15,-1,-1,18323713,8a0d66c268b134b0ee4f99a66ec7af99,18323713,Mitsuba Japanese Cuisine,https://www.zomato.com/syracuse-ny/mitsuba-jap...,174 Township Boulevard Ste 10 13031,Camillus,Syracuse,...,,True,zomato://restaurant/18323713,0,0,https://www.zomato.com/syracuse-ny/mitsuba-jap...,(315) 488-8898,[],[Casual Dining],[]
16,-1,-1,17644007,8a0d66c268b134b0ee4f99a66ec7af99,17644007,Mohegan Manor Restaurant & Club Sushi,https://www.zomato.com/syracuse-ny/mohegan-man...,"58 Oswego St, Baldwinsville 13027",Baldwinsville,Syracuse,...,,True,zomato://restaurant/17644007,0,0,https://www.zomato.com/syracuse-ny/mohegan-man...,(315) 857-0079,[],[],[]

In [2]:
import pandas as pd
import requests
from pandas.io.json import json_normalize
from IPython.display import display, HTML

zomato_key = 'putYourKeyHere'
cuse_id = 988   #city_id of Syracuse, New York'  

headers = { 'user-key' : zomato_key } 
while True:
    display(HTML("<h4>Enter cuisine or type 'quit'</h4>"))
    search = input()
    if search == 'quit':
        break
        
    query_string = { 'q' : search, 'entity_id' : 988, 'entity_type' : 'city'}
    response = requests.get("https://developers.zomato.com/api/v2.1/search", params=query_string, headers=headers)
    data = response.json()
    rests = data['restaurants']
    rests_df = json_normalize(rests)
    results_df = rests_df[[ 'restaurant.name', 'restaurant.location.address', 'restaurant.user_rating.aggregate_rating','restaurant.phone_numbers']]
    results_df.columns = ['Name', 'Address', 'Rating', 'Phone']
    filter_results_df = results_df[ results_df.Rating.astype('float') > 4.0 ]
    display(HTML(f"<h3 style='text-color: blue;'>Top {search.title()} Restaurants</h3>"))
    display(filter_results_df.sort_values('Rating', ascending=False))

Pizza

,Name,Address,Rating,Phone
10,Mario & Salvo's Pizzeria,"4326 E Genesee St, De Witt 13214",4.7,(315) 446-8479
6,Copper Top Tavern,7777 Brewerton Road 13212,4.4,(315) 458-1999
11,Luigi's Pizza & Italian Restaurant,"1524 Valley Dr, Syracuse 13207",4.3,(315) 492-9997
12,Twin Trees III,"310 N Main St, North Syracuse 13212",4.3,(315) 458-9311
0,Varsity Pizza,"802 S Crouse Ave, Syracuse 13210",4.2,(315) 478-1235
1,NY Gianni's Bronx Style Pizza,"1428 Burnet Ave., Syracuse 13206",4.2,(315) 425-7770

Cheese

,Name,Address,Rating,Phone
1,Columbus Baking Co,"502 Pearl St, Syracuse 13203",4.5,(315) 422-2913
3,New Century Vietnamese Restaurant,"518 Kirkpatrick St, Syracuse 13208",4.4,(315) 410-9999
2,Varsity Pizza,"802 S Crouse Ave, Syracuse 13210",4.2,(315) 478-1235
4,NY Gianni's Bronx Style Pizza,"1428 Burnet Ave., Syracuse 13206",4.2,(315) 425-7770

quit

## Challenge 5

Convert your dataframe back into a list of dict.

1. use `to_records()` to convert the dataframe  into a `list` of `dict`.
2. loop over the rows and print the restaurant name and aggregate rating for only those rows with a rating higher that 3.5

NOTE: The keys match he columns in the data frame. The data is not un-flattened.

In [17]:
def send_text_message(message, phonenumber):
    print(f"Sending the message: {message} to # {phonenumber}")

for row in filter_results_df.to_records():
    send_text_message("Order Pizza Now Please", row['Phone'])

Sending the message: Order Pizza Now Please to # (315) 478-1235
Sending the message: Order Pizza Now Please to # (315) 425-7770
Sending the message: Order Pizza Now Please to # (315) 458-1999
Sending the message: Order Pizza Now Please to # (315) 446-8479
Sending the message: Order Pizza Now Please to # (315) 492-9997
Sending the message: Order Pizza Now Please to # (315) 458-9311